.todo {
  width: 90%;
  max-width: 800px;
  display: block;
  margin: 10px auto;
  h3 {
    text-align: center;
    margin-top: 50px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    p {
      display: block;
      margin-left: auto;
      margin-right: 10px;
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 20px;
    }
    .login {
      background-color: #c9c9c9;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #555555;
        color: #ffffff;
      }
    }
  }
  .form {
    margin: 10px 0;
    input {
      display: block;
      width: 100%;
      padding: 0 15px;
      height: 40px;
      font-size: 16px;
      outline: none;
      border: none;
      border-bottom: 2px solid black;
      &:focus {
        border-bottom: 2px solid tomato;
      }
    }
  }
  .todoList {
    ul.todo__items {
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        border-radius: 6px;
        background-color: #c7c7c7;
        padding: 10px 15px;
        margin: 10px 0;
        .icon {
          margin-right: 10px;
        }
        .check {
          display: block;
          margin-left: auto;
          cursor: pointer;
        }
        .remove {
          display: block;
          margin-left: 15px;
          cursor: pointer;
        }
        &.todo__completed {
          background-color: #f47676;
        }
      }
    }
  }
}